@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$font-stack: 'Outfit', sans-serif;
$description: #8BACD9;
$mainbg: #0D192C;
$cardbg: #15263F;
$linecolor: #2E405A;
$crypto: #00FFF8;

.main-bg {
    background-color: $mainbg;
}

.card-bg {
    background-color: $cardbg;
}

.container-fluid {
    padding: 50px;
}

.heading {
    font-size: 22px;
    font-family: $font-stack;
    font-weight: 600;
    color: white;
}

.description {
    font-size: 18px;
    font-family: $font-stack;
    font-weight: 400px;
    color: $description;
}

.caption {
    font-size: 16px;
    font-family: $font-stack;
    font-weight: 300px;
    color: $description;
}

.imagecontainer {
    padding: 7%;
}

.box-pic {
    width: 100%;
    height: 100%;
}

.crypto {
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 600px;
    color: $crypto;
}

.time {
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 300;
    color: $description;
}

.line {
    color: $linecolor;
    border-bottom: 2px solid $linecolor;
    padding-bottom: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
